/* color scheme sourced from https://colorhunt.co/palette/e7e0c9c1cfc06b7aa111324d */
:root {
  --navy: #11324D;
  --powder: #96d0e7;
  --steel: #92959c;
  --olive: #C1CFC0;
  --beige: #E7E0C9;
}

/* set content highlight color and background */
::selection {
  background-color: var(--powder);
  color: var(--navy);
}

body{
  background-color: var(--navy);
  color: var(--beige);
  font-family: 'Abril Fatface', sans-serif, cursive;
}

header{
  color: var(--olive);
  margin: 25px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

nav{
  text-align: right;
  font-size: 25px;
}
.container-fluid{
  background-image: url(https://images.unsplash.com/photo-1600627225432-82de96999068?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  padding-left: 35px;
  padding-top: 30px;
  padding-bottom: 20px;
}

p {
font-style: italic;
margin: none;
}



/* breakpoints sourced from https://getbootstrap.com/docs/5.1/layout/breakpoints/ */

@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... }


.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}
